@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background: rgb(163,196,188);
    background: linear-gradient(to bottom, rgba(163,196,188,1) , rgba(231,239,197,1) , rgba(242,231,201,1));
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: #3333333b;
    width: 98%;
    display: flex;
    justify-content: center;
    height: 14vh;
    border-radius: 26px;
    border:  white 2px solid;
    -moz-box-shadow: -15px 10px 16px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -15px 10px 16px 0px rgba(0,0,0,1);
    box-shadow: -15px 10px 16px 0px rgba(0,0,0,1);
    z-index: 1;
}
.container-tittle{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.container-tittle .img-logo{
    opacity: 0.7;
    max-width: 100%;
    width: 22rem;
    height: 6rem;
}
.container-nav {
    width: 62%;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #3333336c;
    padding: 30px;
    border-radius: 30px;
    border: white 2px inset;
    -moz-box-shadow: -10px 6px 16px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -10px 6px 16px 0px rgba(0,0,0,1);
    box-shadow: -10px 6px 16px 0px rgba(0,0,0,1);
}
.container-nav a {
    border: white 2px solid;
    border-radius: 30px;
    font-family: "Roboto";
    margin: 0 30px;
    color: white;
    padding: 15px 24px 15px 24px;
    background-color: #33333388;
    text-decoration: none;
    font-size: 1.1em;
    -moz-box-shadow: -4px 3px 16px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -4px 3px 16px 0px rgba(0,0,0,1);
    box-shadow: -4px 3px 16px 0px rgba(0,0,0,1);
}
.container-nav a:hover{
    background-color: #333333b7;
    text-shadow: 0 0 40px #ffffff, 0 0 40px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff;
}
.container-nav .modo {
    position: absolute;
    right: 10px;
}
.modo{
    background-color: #33333388;
    border: white 2px solid;
    border-radius: 50%;
    height: 60%;
    width: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-box-shadow: -4px 3px 16px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -4px 3px 16px 0px rgba(0,0,0,1);
    box-shadow: -4px 3px 16px 0px rgba(0,0,0,1);
}
.modo:hover{
    background-color: #333333b7;
}
.modo i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.2em;
    color: white;
}
.modo i:hover{
    cursor: pointer;
    text-shadow: 0 0 40px #ffffff, 0 0 40px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff;
}
.content{
    height: 61svh;
    display: flex;
    justify-content: center;
    width: 85%;
}
.text-precentation{
    background: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)), url(../imd.jpg);
    border-radius: 85px 25px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    overflow: hidden;
    border: rgb(255, 255, 255) 2px double;
    height: 28rem;
    color: white;
    text-align: center;  
    justify-content: center;
    align-items: center;
    width: 85%;
    transition: all 1s;
    z-index: 1;
    box-shadow: -11px 11px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 11px 5px 0px rgba(0,0,0,0.75);
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60%; /* Centra el texto */
    background-color: #00000038;
    border-radius: 20px;
    border: black 0.8px inset;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.438);
}

.text h2 {
    color: #f0b906;
    margin: 0;
    font-size: 2.6rem;
}

.text p {
    margin-top: 7px;
    text-align: center;
    font-size: 1.4rem;
    max-width: 600px;
    color: #ffffff;
}

.text a {
    margin-bottom: 3rem;
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #05ad52;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.text a:hover {
    background-color: #05ad52;
}
.android{
    width: 410px;
    position: absolute;
    transform: translateX(370px) translateY(-165px);
}
.android img{
    transform: translate(-50%, -50%);
    z-index: -1;
    transform: rotate(38deg);
}
.android2{
    position: absolute;
    transform: translateX(-640px) translateY(178px);
    z-index: 2;
}
.android2 img{
    transform: translate(-50%, -50%);
    transform: rotate(-10deg);
}
.text-precentation a:hover {
    text-decoration: underline;
    color: rgba(25, 0, 255, 0.733);
    font-weight: bold;
}
footer{
    width: 96%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #AFCDA2;
    padding: 20px;
    border-radius: 20px;
    border: white 3px double;
    box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -15px 10px 16px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -15px 10px 16px 0px rgba(0,0,0,1);
    box-shadow: -15px 10px 16px 0px rgba(0,0,0,1);
    transition: all 1s;
}
footer .Fimg{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
footer .imgF {
    height: 6rem;
    width: 18rem;
}
footer .Ftelderechos{
    background-color: #3333336c;
    margin: 2em 0em 2em 4em;
    border: white 3px solid;
    border-radius: 30px;
    display: flex;
    width: 70%;
    justify-content: space-around;
    -moz-box-shadow: -10px 6px 16px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -10px 6px 16px 0px rgba(0,0,0,1);
    box-shadow: -10px 6px 16px 0px rgba(0,0,0,1);
}

footer .Fredes{
    margin: 0.8em;
    background-color: #5f5f5f9f;
    border-radius: 30px;
    border: white 2px solid;
    gap: 8px;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-box-shadow: -4px 3px 16px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -4px 3px 16px 0px rgba(0,0,0,1);
    box-shadow: -4px 3px 16px 0px rgba(0,0,0,1);
}
footer .Fredes:hover{
    background-color: #33333362;
}
footer .Fredes i{
    font-size: 2em;
}
.facebook:hover{
    color: blue;
    cursor: pointer;
}
.instagram:hover{
    color: brown;
    cursor: pointer;
}
.whatsapp:hover{
    color: green;
    cursor: pointer;
}
.footer-date{
    border: white 2px solid;
    margin: 1.5em ;
    border-radius: 30px;
    background-color: #afafaf8e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 190px;
    padding: 6px 40px 6px 40px;
    text-align: center;
    -moz-box-shadow: -2px 2px 16px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -2px 2px 16px 0px rgba(0,0,0,1);
    box-shadow: -2px 2px 16px 0px rgba(0,0,0,1);
}
.footer-date li{
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    list-style: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
:root {
    --animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    --animation-duration: 1s;
    --animation-duration: 2s;
}
@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: var(--animation-timing-function);
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: var(--animation-timing-function);
        animation-timing-function: var(--animation-timing-function);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        animation-timing-function: var(--animation-timing-function);
    }
    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: var(--animation-timing-function);
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: var(--animation-timing-function);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    }

    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.bounceInDown2 {
    -webkit-animation-duration: 3s; /* Duración específica para zoomIn */
    animation-duration: 3s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 1s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.zoomIn {
    -webkit-animation-duration: 2s; /* Duración específica para zoomIn */
    animation-duration: 2s;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated {
    -webkit-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
    }

    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    }

    to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
    }

    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    }

    75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    }

    90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    }

    to {
-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
}
.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}
@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }
  

  
@media only screen and (max-width: 800px) {
    .container-tittle{
        display: none;
    }
    .container-nav{
        width: 72%;
    }
    .container-nav a{
        padding: 12px;
        margin: inherit;
    }
    .container-nav .modo{
        position: relative;
        right: 0;
    }
    .modo{
        border: none;
    }
    .android{
        display: none;
    }
    .container-content{
        width: 100%;
    }
    .container-img-txt {
        flex-direction: column;
    }
    .img-gif-der{
        width: 100%;
    }
    .text-bienvenida{
        width: auto;
        height: auto;
    }
    .text-bienvenida p{
        max-width: 100%;
    }
    .text-precentation{
        height: auto;
        margin: 0;
    }
    .content{
        height: auto;
        width: auto;
    }
    .text{
        width: auto;
        height: auto;
    }
    .img-gif-izq{
        width: auto;
    }
    footer{
        width: 84%;
        flex-direction: column;
        align-items: center;
    }
    footer .Ftelderechos{
        flex-wrap: wrap;
    }
    footer .Fimg{
        display: none;
    } 
    .footer-date{
        margin: 0;
        padding: 0;
    }
    .footer-date li{
        font-size: 0.9rem;
    }
}