<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Portafolio{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="icon" href="static/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/09b9a7264c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body id="body">
    {% block content %}
    {% endblock %}
    <footer class="luz contFotter">
        <div class="Ftelderechos luz-nav animated bounceInLeft">
            <div class="Fredes luz-detalles ">
                <i class="fa-brands fa-facebook f facebook"></i>
                <i class="fa-brands fa-square-instagram instagram"></i>
                <i class="fa-brands fa-square-whatsapp whatsapp"></i></i>
            </div>
            <ul class="footer-date luz-detalles animated bounceInDown">
                <li>© 2024 Angel Rios. Todos los derechos reservados.</li>
                <li>+54-2664-025070</li>
                <li>gabriel.ska0@gmail.com</li>
            </ul>
        </div>
        <div class="Fimg">
            <img id="img-logo" class="imgF" src="static/no-bg.png" alt="">
        </div>
    </footer>
</body>
<script src="static/JS/index.js"></script>
</html>